body{
  
}
i{
  font-size: 23px;
  color: #8E8E8E;
  margin: 1%;
}
.fa-pinterest{
  color:#BD081C;
  font-size: 30px;
}

#inputSearch{
  background-color: #EFEFEF;
  border:none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  
} 

input[placeholder] {
  border-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color:  #8E8E8E;
}

.fa-search{
  background-color: #EFEFEF;
  font-size: 20px;
}
#search-btn{
  background-color: #EFEFEF;
  border-radius: 8px;
  width: 100%;
  height: 2%;
}
.mat-button{
  background-color:white;
  font-size: 16px;
  font-weight: bold;
  color:  #333333;
  border-radius: 20px;
}

.mat-button:hover{
  border-radius: 20px;
}

.btnsLeft{
  border: 0%;
  margin: 0%;
  padding: 0%;
}

app-publicaciones{
  margin-left: 2%;
  margin-right: 2%;
}

.masonry{ 
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

.masonry-brick {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 8px 8px 0; /* Some gutter */
}
.masonryPin { 
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  margin: 1%;
}