
i{
  font-size: 23px;
  color: #8E8E8E;
  margin: 1%;
}
.fa-pinterest{
  color:#BD081C;
  font-size: 30px;
}

#inputSearch{
  background-color: #EFEFEF;
  border:none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 100%; 
  
} 

input[placeholder] {
  border-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color:  #8E8E8E;
}

.fa-search{
  background-color: #EFEFEF;
  font-size: 20px;
}
#search-btn{
  background-color: #EFEFEF;
  border-radius: 8px;
  width: 80%;
}

.mat-button{
  background-color:#F5F5F5;
  font-size: 16px;
  font-weight: bold;
  color:  #333333;
  border-radius: 20px;
}

.mat-button:hover{
  border-radius: 20px;
}

.btnsLeft{
  border: 0%;
  margin: 0%;
  padding: 0%;
}

app-publicaciones{
  margin-left: 2%;
  margin-right: 2%;
}


.masonry{ 
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  max-height: 800px;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
  padding: 0%;
}
.masonry-brick {
  margin: 0 8px 8px 0; /* Some gutter */
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  margin: 1%;
  padding: 0.4px;
  display: flex;
  flex-flow: column wrap;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
}
