mat-card{
  background-color: lightslategray;
  border-radius:10px;
  height: 40px;
  width: 100px;
}

p{
  font-size: 15px;
  font-weight: bold;
  color:  white;
  text-align: center;
  display: block;
  padding: 0% !important;
}